* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111111;
  font-family: Roboto, sans-serif;
  font-size: 13px;
}

.material-icons {
  cursor: pointer;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  .form-check-input,
  .form-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
  }

  .form-check-inline {
    min-width: 120px;
    display: flex;
    align-items: center;
  }

  .form-control {
    padding: 12px 9px;
    border: 1px solid #c4ced5;
    outline: none;
    width: 300px;
  }

  .form-select {
    padding: 12px 32px 12px 15px;
    border: 1px solid #dadada;
    background-color: #f2f2f2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
    background-repeat: no-repeat, repeat;
    background-position: right .5em top 50%, 0 0;

    &:focus {
      outline: none;
      border: 1px solid #c4ced5;
    }
  }

  .form-select-label {
    color: #000;
    margin-right: 27px;
  }

  .form-check-input {
    border: 1px solid #c4ced5;
    width: 18px;
    height: 18px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 2px;
    display: inline-block;
    position: relative;

    &:checked {
      background-color: #8fc04f;
      border: 1px solid #adb8c0;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
      color: #99a1a7;

      &:after {
        content: '\2714';
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-44%, -50%);
      }
    }

    &:focus {
      outline: none;
      border: 1px solid #adb8c0;
    }
  }
  .form-check-label {
    margin-right: 20px;
    padding: 10px;
  }

  @media only screen and (max-width: 767px) {
    font-size: 10px;

    &-checkbox {
      flex-direction: column;
      align-items: start;
    }

    .form-check-inline {
      min-width: auto;
    }

    .form-control {
      width: 100%;
    }
  }
}

